<div style="height: 91vh; border-radius: 2vh;border: solid 1px rgba(100,237,207,0.2)">
<ion-searchbar class="custom-searchbar" style="--background: rgba(0,0,0,0); --box-shadow: rgba(0,0,0,0)"></ion-searchbar>
  <ion-list>
    <ion-item button lines="none" *ngFor="let players of OnlinePlayerList" (click)="player.getPlayersDetails(players.uuid)">
      <ion-thumbnail>
        <ion-img src="https://crafatar.com/avatars/{{players.uuid}}"></ion-img>
      </ion-thumbnail>
      <ion-label class="ion-padding-start">
        <ion-text>
          {{players.displayName}}
        </ion-text>
        <ion-icon name="shield" color="warning" *ngIf="players.op"></ion-icon>
      </ion-label>
      <ion-icon slot="end" name="finger-print-outline"></ion-icon>
    </ion-item>
  </ion-list>
</div>
