/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";



ion-card{
  border-radius: 22px;
  border-top: 1px solid rgba(53, 152, 152, 0.63);
  border-right: 1px solid rgba(35, 86, 86, 0.42);
  border-left: 1px solid rgba(35, 86, 86, 0.42);
  border-bottom: 1px solid rgba(36, 32, 32, 0.63);
  background: linear-gradient(180deg, rgba(105, 208, 231, 0.09) 0%, rgba(20, 22, 22, 0.3) 100%);
  animation: breathing 5s infinite alternate ease-in-out;
  backdrop-filter: blur(5px);
}
@keyframes breathing {
  0% {
    box-shadow: 1px 1px 10px 1px rgba(12, 200, 240, 0.1); /* Augmentez les valeurs de flou (10px) */
  }
  100% {
    box-shadow: 3px 3px 15px 3px rgba(12, 200, 240, 0.1); /* Augmentez les valeurs de flou (15px) */
  }
}

