<div *ngIf="serverInfo">
        <ion-card style="height: 50vh">
          <div *ngIf="!serverInfo.tps">
            <ion-card-title class="ion-padding">
              <ion-text class="ion-padding">
                <ion-icon name="server-outline"></ion-icon>
                {{environment.server_name}}
              </ion-text>
              <div class="ion-float-end">
                <ion-text class="ion-margin-end" >
                  Offline
                </ion-text>
                <div class="ion-float-end breathing-circle-offline">
                </div>
              </div>
            </ion-card-title>
          </div>
          <div *ngIf="serverInfo.tps">
              <ion-card-title class="ion-padding">
                <ion-text class="ion-padding">
                  <ion-icon name="server-outline"></ion-icon>
                  {{environment.server_name}}
                </ion-text>
                <div class="ion-float-end">
                  <ion-text class="ion-margin-end" >
                    Online
                  </ion-text>
                  <div class="ion-float-end breathing-circle">
                  </div>
                </div>
              </ion-card-title>
            <ion-card-subtitle class="ion-padding-start">
              {{serverInfo.motd}}
            </ion-card-subtitle>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="6">
                      <ion-item lines="none">
                        <ion-icon class="ion-padding-end" color="danger" name="heart"></ion-icon>
                        <ion-label>
                          <ion-text>
                            {{serverInfo.health.cpus}}
                          </ion-text>
                        </ion-label>
                        <ion-card-subtitle>
                          Cores
                        </ion-card-subtitle>
                      </ion-item>
                    </ion-col>
                    <ion-col size="6">
                      <ion-item lines="none">
                        <ion-icon class="ion-padding-end" color="secondary" name="fitness"></ion-icon>
                        <ion-label>
                          <ion-text>
                            {{serverInfo.tps}}
                          </ion-text>
                        </ion-label>
                        <ion-card-subtitle>
                          Tps
                        </ion-card-subtitle>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <ion-item lines="none">
                  <ion-icon slot="start" color="primary" name="speedometer"></ion-icon>
                  <ion-label>
                    <ion-text>
                      {{formatMemory(serverInfo.health.totalMemory - serverInfo.health.freeMemory)}}  / {{formatMemory(serverInfo.health.maxMemory)}}
                    </ion-text>
                  </ion-label>
                  <ion-card-subtitle>
                    Memory
                  </ion-card-subtitle>
                </ion-item>
                <ion-item lines="none">
                  <ion-icon slot="start" color="warning" name="stopwatch"></ion-icon>
                  <ion-label>
                    <ion-text>
                      {{ formatDuration(serverInfo.health.uptime) }}
                    </ion-text>
                  </ion-label>
                  <ion-card-subtitle>
                    Uptime
                  </ion-card-subtitle>
                </ion-item>
                <ion-item lines="none">
                  <ion-icon color="success" slot="start" name="people"></ion-icon>
                  <ion-label>
                    <ion-text>
                      {{serverInfo.onlinePlayers}}/{{serverInfo.maxPlayers}}
                    </ion-text>
                  </ion-label>
                  <ion-card-subtitle>
                    Players
                  </ion-card-subtitle>
                </ion-item>
              </ion-card-content>
          </div>
        </ion-card>
</div>

