<div *ngIf="serverInfo">
  <ion-card-title class="ion-text-center ion-padding">
    DASHBOARD
  </ion-card-title>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card-title class="ion-text-center ion-padding">
          {{environment.server_name}}
        </ion-card-title>
        <ion-card-subtitle class="ion-text-center">
          Version : {{serverInfo.bukkitVersion}}
        </ion-card-subtitle>
        <ion-card-subtitle class="ion-padding">
          <div class="ion-float-start">
            modt : {{serverInfo.motd}}
          </div>


          <div class="ion-float-end" *ngIf="!serverInfo">
            <ion-card>
              <ion-text class="ion-padding">
                Offline
              </ion-text>
              <div class="ion-float-end breathing-circle-offline">
              </div>
            </ion-card>
          </div>
          <div *ngIf="serverInfo" class="ion-float-end">
            <ion-card>
              <ion-card-title class="ion-padding">
                <ion-text class="ion-margin-end" >
                  Online
                </ion-text>
                <div class=" ion-float-end breathing-circle">
                </div>
              </ion-card-title>
              <ion-card-content>
                <ion-item lines="none">
                  <ion-icon slot="start" color="danger" name="heart"></ion-icon>
                  <ion-label>
                    {{serverInfo.health.cpus}}
                  </ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-icon slot="start" color="warning" name="stopwatch"></ion-icon>                    <ion-label>
                </ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-icon color="success" slot="start" name="people"></ion-icon>
                  <ion-label>
                    {{serverInfo.onlinePlayers}}/{{serverInfo.maxPlayers}}
                  </ion-label>
                </ion-item>
              </ion-card-content>

            </ion-card>
          </div>
        </ion-card-subtitle>
        <ion-card-content class="ion-padding">
          content of the card
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

